<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> POPULAR QUOTES </h1>
		
		<form action='/author' method='GET'>
			<div name="infoField" class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Author's Name</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='firstname' name='firstname' placeholder='Jane' required="false">
				</div>
				
			</div>
			
			<div name="infoField" class='form-group row'>
				<label for='keyword' class='col-sm-4 col-form-label'>Type a keyword</label>
				<div class='col-sm-4'>
					<input class='form-control' type="text" name="keyword" required="false">
				</div>
			</div>
			
			<div name="infoField" class='form-group row'>
				<label for='gender' class='col-sm-4 col-form-label'>Select gender</label> 
				<div class='col-sm-4'>
					<input class='form-control' type="radio" name="gender" value="female" required="false">Female<br>
					<input class='form-control' type="radio" name="gender" value="male" required="false">Male<br>
				</div>
			</div>
			
			<div name="infoField" class='form-group row'>
				<label for="cars">Choose category</label>
				<div class='col-sm-4'>
					<select id="cars">
					  <option value="volvo">Volvo</option>
					  <option value="saab">Saab</option>
					  <option value="mercedes">Mercedes</option>
					  <option value="audi">Audi</option>
					</select>
				</div>
			</div>
			
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search Quotes</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
	</div>
</div>
<%- include ('templates/footer'); -%>